.philosophy {
  &__text {
    margin-bottom: 40px;
  }
}

.requirements {
  position: relative;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    width: 50%;
    position: relative;

    @media (max-width: $md-width) {
      width: 100%;
    }

    &:after {
      background-color: $white;
      content: '';
      position: absolute;
      top: 0;
      right: -50px;
      width: 200%;
      height: 100%;
      transform: skewX(-22.5deg);

      @media (max-width: $md-width) {
        display: none;
      }
    }
  }

  &__right {
    width: 60%;
    background-image: url(../images/about-us/about-us-success.jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1;

    @media (max-width: $md-width) {
      display: none;
    }
  }

  &__items {
    margin-bottom: 50px;
    padding-right: 100px;

    @media (max-width: $md-width) {
      margin-bottom: 0;
      padding-right: 0;
    }
  }

  &__item {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }

    h4 {
      position: relative;
    }

    &--blue .requirements__bar {
      background-color: $bright-blue;
      color: $bright-blue;
    }

    &--green .requirements__bar {
      background-color: $bright-green;
      color: $bright-green;
    }

    &--orange .requirements__bar {
      background-color: $bright-orange;
      color: $bright-orange;
    }

    &--purple .requirements__bar {
      background-color: $bright-purple;
      color: $bright-purple;
    }
  }

  &__bar {
    margin-top: 10px;
    display: block;
    margin-right: 60px;
    height: 5px;
    position: relative;
    z-index: 1;

    &:after {
      background: inherit;
      content: '';
      position: absolute;
      top: 0;
      right: -5px;
      height: 5px;
      width: 10px;
      transform: skewX(45deg);
    }
  }

  &__percentage {
    position: absolute;
    bottom: -10px;
    left: calc(100% + 30px);
  }
}

.join {
  text-align: center;

  &__text {
    margin-bottom: 35px;
  }

  &__buttons {
    margin: 0 auto -20px auto;

    button {
      background-color: $dark-blue;
      color: $white;
      width: 160px;
      margin: 0 10px 20px 10px;

      &:hover, &:active, &:focus {
        background-color: $bright-blue;
      }
    }
  }
}
